
<section class="p-4 min-w-60 flex flex-col justify-center items-center">

<div class="mat-elevation-z8">
    <table  class="p-4 w-full m-2 "  mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th  mat-header-cell *matHeaderCellDef> ID. </th>
        <td class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.id.substring(0, 5)}}... </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container> -->
      <!-- Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td   mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="primary" (click)="openDialog(element)">
            <mat-icon class="text-yellow-300 hover:scale-110 transition-transform">edit</mat-icon>
          </button>
          <button  mat-icon-button color="warn" (click)="delete(element)">
            <mat-icon class="text-red-400 ml-3 hover:scale-110 transition-transform" >delete</mat-icon>
          </button>
          <button  mat-icon-button color="warn" (click)="copyToClipboard(element.id)">
            <mat-icon class="text-blue-500 ml-3 hover:scale-110 transition-transform" >content_copy</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
</section> 